<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subreddit | capitalize }} Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/politics">r/politics</a>
        <a href="class="active" href="/AITA">r/AITA</a>
    </div>
    <h1>r/{{ subreddit | capitalize }} Sentiment Analysis</h1>
    <p id="average">Loading average sentiment...</p>
    <p id="median">Loading median sentiment...</p>
    <div id="headlinesContainer">
    </div>
    <script>
        const subreddit = "{{ subreddit }}";
    </script>
</body>
</html>
