<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">About</a>
            <a href="/politics">r/politics</a>
        </div>

        <div class="container">
            <h1>Project Overview</h1>
            <p>This web application provides real-time sentiment analysis of the 50 most recent posts from r/politics, and will update based on new posts. </p>
            <p>It uses a Flask backend with TextBlob for sentiment processing, and HTML/CSS/JS on the front-end.</p>
            <h2>Current Features</h2>
            <ul>
                <li>Displays mean and median sentiment statistics based on the analyzed post titles.</li>
                <li>Shows the title and sentiment score of the 50 analyzed posts.</li>
            </ul>
            <h2>Work in Progress</h2>
            <ul>
                <li>Adding implementation of more active subreddits such as r/popular for more "real-time" behavior.</li>
                <li>Developing a better sentiment analysis model; current one is a pretrained Naive Bayes</li>
            </ul>
            <h2>Creator</h2>
            <ul>
                <li>Alissa Wu, Duke University Computer Science and Mathematics</li>
                <li>See my <a href="https://github.com/alissawu">github</a> for more projects!</li>
            </ul>
            
        </div>
    </body>
</html>
