<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </head>
    <body>
        <div class="topnav">
            <a href="/" class="{{ 'active' if active_link == 'index' else '' }}">About</a>
            <a href="/modelnotes" class="{{ 'active' if active_link == 'modelnotes' else '' }}">Model Notes</a>
            <a href="/politics" class="{{ 'active' if active_link == 'politics' else '' }}">r/politics</a>
            <a href="/AmITheAsshole" class="{{ 'active' if active_link == 'AmITheAsshole' else '' }}">r/AITA</a>
        </div>

        <div class="container">
            <h1>Project Overview</h1>
            <p>This web application provides real-time sentiment analysis of the 50 most recent posts from r/politics and r/AITA, and will update based on new posts. </p>
            <p>Backend: Flask, Textblob for sentiment analysis; Front-end: HTML/CSS/JS (formerly TS, which is unecessarily difficult as flask is used with a very specific HTML/CSS/JS structure, and requires many additional dependencies and etc to replace with TS)</p>
            
            <h2>Structure</h2>
            <ul>
                <li>Displays mean and median sentiment statistics and formatted data of the 50 posts.</li>
                <li>Sentiment ranges from -1 (negative) to 1 (positive)</li>
            </ul>
            <h2>Coolest Features</h2>
            <ul>
                <li>New subreddit pages are literally added by just adding onto the HTML nav bar, due to the "subreddit.html" template page that takes the subreddit as an input from the link.</li>
                <li>See more subreddits by adding the name after the slash ie:
                    https://quiet-sierra-95106-5ca898adfa7b.herokuapp.com/pics <- r/pics
                </li>
            </ul>
            <h2>To do</h2>
            <ul>
                <li>Optimizing / analyzing the sentiment analysis model. Looking at the model architecture specifics, epoch opt., confusion matrix, etc - obviously rn still pretty inaccurate but the structure is in place.</li>
                <li>Automate optimization process (ie vocab size, other stuff, stop when validation loss increases)</li>
                <li>Adding user-input for subreddits instead of manually adding on my end </li>
            </ul>
            <h2>Creator(s)</h2>
            <ul>
                <li><a href="https://github.com/alissawu">Alissa Wu</a>, Duke University Computer Science and Mathematics</li>
                <li><a href="https://github.com/EvanPFWang">Evan Wang</a>, New York University Mathematics and Computer Science</li>
                <li>PS: This site costs me $7/month to host, support if you want: <a href="https://ko-fi.com/alissawu">kofi</a> :) </li>
            </ul>
        </div>
    </body>
</html>
