<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</head>
<body>
    <div class="topnav">
        <a class="active" href="/todo.html">About</a>
        <a href="/r/politics">r/politics</a>
    </div>

    <h1>Reddit Sentiment Analysis</h1>
    <p id="average">Loading average sentiment...</p>
    <p id="median">Loading median sentiment...</p>
    <div id="headlinesContainer">
        <!-- headlines go here --> 
    </div>
</body>
</html>
