<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subreddit | capitalize }} Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="topnav">
        <div class="nav-container">
            <a href="/">About</a>
            <a href="/modelnotes">Model Notes</a>
            <a href="/politics">r/politics</a>
            <a href="/AmITheAsshole">r/AITA</a>
            <div class="search-container">
                <input type="text" id="subredditSearch" class="search-input" placeholder="Enter subreddit name...">
                <button onclick="searchSubreddit()" class="search-btn">Go</button>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Sentiment Analysis for r/{{ subreddit | capitalize }}</h1>
        <p id="average">Loading average sentiment...</p>
        <p id="median">Loading median sentiment...</p>
        <div id="headlinesContainer"></div>
    </div>

</body>
</html>
